<section role="main" class="container_16 clearfix">

	<div class="grid_16 corps">
	<form id=formulaire name=confirm method=post action="Auth">
      <fieldset>
        <ol>
          <li>
            <label for=nom>Nom d'utilisateur</label>
            <input id=nom name=userid type=text placeholder="p N&deg;harp&egrave;ge" required autofocus>
          </li>
          <li>
            <label for=password>Mot de passe</label>
            <input id=password name=password type=password required>
          </li>
        </ol>
      </fieldset>

      <fieldset>
        <button type=submit>Valider</button>
      </fieldset>
    </form>
</div>
</section>