<section role="foot" class="container_16 clearfix">
			<div class="grid_16">
				<div style="float:left;width:50%;">
					<p>En cas de probl&egrave;me,<br>contactez moi : <a href="mailto:clement.josso@univ-orleans.fr?subject=Applications Quota">clement.josso@univ-orleans.fr</a></p>
				</div>
				<div style="float:right;width:50%;">
					<p style="text-align:right;">Tous les composants de cette application sont libre de droits (<a href="http://www.gnu.org/licenses/gpl-3.0.txt" target="_blank">GPLv3</a>).<br>
					Retrouvez l'ensemble du code sur <a href="https://github.com/espe-scirc/OpenAPI-Madiba" target="_blank">Github</a>.</p>
			</div>
	</section>
</body>
</html>
